<div class="container">
    <h3>{{site.sec22}}</h3>
    <p>{{site.sec23}}</p>
    <div class="features">
        <article>
            <a href="page1.html" class="image"><img src="/assets/images/pic01.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec24}}</h4>
                <p>{{site.sec25}}</p>
            </div>
        </article>
        <!-- <article>
            <a href="#" class="image"><img src="/assets/images/pic02.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec26}}</h4>
                <p>{{site.sec27}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/pic03.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec28}}</h4>
                <p>{{site.sec29}}</p>
            </div>
        </article> -->
    </div>
</div>