<div class="container">
    <h3>{{site.sec6}}</h3>
    <!-- <p>{{site.sec7}}</p> -->
    <div class="features">
        <article>
            <a class="image"><img src="/assets/images/KIST-MAHRU.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec7}}</h4>
                <p>{{site.sec8}}</p>
            </div>
        </article>
        <article>
            <a class="image">
                <video autoplay muted loop width="100%" height="auto">
                    <source src="/assets/videos/G1+ros.mp4?v=1.0" type="video/mp4">
                    <p>Your browser does not support HTML video. Please upgrade your browser.</p>
                </video>
            </a>
            <div class="inner">
                <h4>{{site.sec10}}</h4>
                <p>{{site.sec11}}</p>
            </div>
        </article>
        <article>
            <a class="image">
                <video autoplay muted loop width="100%" height="auto">
                    <source src="/assets/videos/ADP.mp4?v=1.0" type="video/mp4">
                    <p>Your browser does not support HTML video. Please upgrade your browser.</p>
                </video>
            </a>
            <div class="inner">
                <h4>{{site.sec12}}</h4>
                <p><a href="/assets/files/ADP_report.pdf" target="_blank">{{site.sec13}}</a></p>
                <p>{{site.sec13-1}}</p>
            </div>
        </article>
        <article>
            <a class="image"><img src="/assets/images/mahru+mppi.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec14-0}}</h4>
                <p>{{site.sec15-0}}</p>
            </div>
        </article>
        <article>
            <a class="image">
                <video autoplay muted loop width="100%" height="auto">
                    <source src="/assets/videos/MPPI2link.mp4?v=1.0" type="video/mp4">
                    <p>Your browser does not support HTML video. Please upgrade your browser.</p>
                </video>
            </a>
            <div class="inner">
                <h4>{{site.sec16-0}}</h4>
                <p>{{site.sec17-0}}</p>
            </div>
        </article>
        <article>
            <a class="image"><img src="/assets/images/MPC.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec18-0}}</h4>
                <p>{{site.sec19-0}}</p>
            </div>
        </article>
    </div>
</div>
<!-- ADP-off_line -->