<div class="container">
    <h3>{{site.sec14}}</h3>
    <!-- <p>{{site.sec15}}</p> -->
    <div class="features">
        <article>
            <a href="#" class="image"><img src="/assets/images/mahru+mppi.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec16}}</h4>
                <p>{{site.sec17}}</p>
            </div>
        </article>
        <!-- <article>
            <a href="#" class="image"><img src="/assets/images/pic02.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec18}}</h4>
                <p>{{site.sec19}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/pic03.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec20}}</h4>
                <p>{{site.sec21}}</p>
            </div>
        </article> -->
    </div>
</div>